@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #191919;
}

.white {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%)
    hue-rotate(93deg) brightness(103%) contrast(103%);
}

.hero {
  background-color: #191919;
}

.opacity {
  opacity: 0;
  transition: 1s ease-in;
}

.opacity.active {
  opacity: 1;
  transition: 1s ease-in;
}

.grid-items:hover {
  transform: scale(104%);
  transition: all 100ms ease-in;
}

.animation-in {
  -webkit-animation: slide-down 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-down 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.animation-in-3s {
  -webkit-animation: slide-right 4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-right 4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-iteration-count: infinite;
}

.pulse {
  -webkit-animation: opacityPulse 3s ease-in;
  animation: opacityPulse 3s ease-in;
  opacity: 1;
}

.navlinks {
  transition: all 50ms ease-in-out;
}

.navlinks:hover {
  transform: scale(104%);
  transition: all 50ms ease-in-out;
}

@-webkit-keyframes slide-down {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-down {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  90% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 0;
  }
}

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  90% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 0;
  }
}

@-webkit-keyframes opacityPulse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacityPulse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 620px) {
  /* .author {
    background-image: linear-gradient(
        90deg,
        rgba(25, 25, 25, 1) 0%,
        rgba(25, 25, 25, 0) 50%,
        rgba(25, 25, 25, 1) 100%
      ),
      url(/src/Assets/PHS07816-2-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
  } */
}
